body{
    background-color: rgba(0,120,253) !important;
}

.container{
    background-color: rgba(0,120,253) !important;
    min-height: 90vh;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    display:flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 8px;
}

.question-width{
    width:25rem;
}

.quiz-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success,
.bg-danger
{
    color: white !important;
}

.width-100{
    width:100%;
}

.quiz-end-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.quiz-bar{
    width:10rem;
    height:100% !important;
    background-color: orange !important;
}

.container-content{
    display:flex;
    flex-direction: row-reverse;
    height:700px;
}

.quiz-bar-img{
    padding: 48px 0 80px 0;
    text-align: center;
}

.quiz-bar-content{
    color:white;
    font-size:20px;
    display:flex;
    flex-direction: column;
    gap:16px;
}

.line{
    background-color: white;
    height:16px;
    width: 4px;
}

.categories-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 8px;
}